@tailwind base;
@tailwind components;
@tailwind utilities;

.slide-track:hover .slide-item {
	animation-play-state: paused;
}

::-webkit-scrollbar {
	display: none;
}

.test {
	transition: 1s;
}

/* @keyframes come-in {
	from {
		transform: translateX(1000px);
	}

	to {
		transform: translate(0px);
	}
}  */
