@tailwind base;
@tailwind components;
@tailwind utilities;

.slide-track:hover .slide-item {
	animation-play-state: paused;
}

/* ::-webkit-scrollbar {
	display: none;
} */

#root {
	background: linear-gradient(
		177deg,
		#fff 10.28%,
		#d4f5ff 25.23%,
		#a7eaff 40.18%,
		#7ee0ff 55.14%,
		#58d6ff 70.09%,
		#35ceff 85.05%,
		#00c1ff 100%
	);
	scroll-behavior: smooth;
}

@media (min-width: 1921px) {
	#root {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
